@font-face {
  font-family: CurrentRegular;
  src: url("../fonts/Current-Regular.otf") format("opentype");
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: CurrentRegular, sans-serif;
}

button:focus {
  outline: none;
}

